<% include header %>
<div id="container" class="container">
<div class="hero-unit">
		<h1>欢迎您 <% locals.user.name %> </h1>
		<p>这里是你的家</p>
	</div>
</div>
<% include fnend %>
<% include footer %>